.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}

.maskBinarioCard{
    width: 100%;
    display: flex;
    border: 0;
    border-radius: 10px;
}

.binarioCard{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 15px 0;
    margin: 10px -15px;
}

.binarioCard::-webkit-scrollbar{
    height: 0;
}



