<div class="flex align-center">
  <span>Città Preferite</span>
  <i class="fa-solid fa-2x"
    [ngClass]="isUp ? 'fa-caret-up' : ' fa-caret-down'"
    (click)="orderByTemperature()"
  ></i>
</div>
<app-binario>
  <app-city-card
    *ngFor="let city of cities"
    [city]="city"
    [hourly_index]="hourly_index"
    (updateFavorites)="updateFavorites()"
    (removeFromFavorites)="onRemoveFromFavorites($event)"
    (addToFavorites)="onAddToFavorites($event)"
    (showThisCityChart)="showOnChart($event)"
  ></app-city-card>
</app-binario>
