app-graphics{
    position: relative;
    display: block;
    width: 100%;
    overflow-x: auto;
    background: linear-gradient(#e664659e, #9198e5b0);
    margin: 0 -15px;
}

app-graphics::-webkit-scrollbar{
    height: 0;
}

span{
    font-size: 72px;
    font-weight: 800;
}

