<div class="container">
  <span>METEO APP</span>
  <app-favourites *ngIf="hasFavorites" #favoritesComponent (updateHasFavorites)="updateHasFavorites()" (addToFavorites)="addToFavorites($event)"  (removeFromFavorites)="removeFromFavorites($event)" (showThisCityChart)="showOnChart($event)"></app-favourites>
  <app-big-cities (addToFavorites)="addToFavorites($event)"  (removeFromFavorites)="removeFromFavorites($event)" (showThisCityChart)="showOnChart($event)"></app-big-cities>
  <app-search-box (addToFavorites)="addToFavorites($event)"  (removeFromFavorites)="removeFromFavorites($event)" (showThisCityChart)="showOnChart($event)"></app-search-box>
  <app-graphics  [chartData]="chartData" [cityName]="cityName" *ngIf="!isLoading && cityName && chartData"></app-graphics>
  <app-footer></app-footer>
</div>
